.LoadingContainer {
  background-color: rgba(55, 55, 55, 0.5);
  display: inline-block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.ldscircle {
  display: inline-block;
  transform: translateZ(1px);
}
.ldsdualring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.ldsdualring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes ldsdualring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
